body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #474242;
  margin: 0;
}

.header{
  display: flex;
  flex-direction: row;
  height: 50px;
  justify-content: space-between;
  background-image: linear-gradient(to right,#080808bc,#161617d1);
  align-items:center;
  border-bottom: 2px solid rgb(176, 250, 16);
  color: white;
}

.icon{
  margin-left: 540px;
  display: flex;
  width:700px;
  align-items: center;
}
.icon img{
  margin-left: 50px;
  width:35px;
  border-radius: 50%;
  margin: 0px 10px;
}

.txt{
  font-size: 50px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 800;
  text-transform: uppercase;
  background: linear-gradient(-45deg, rgba(209, 254, 6, 0.92), rgba(72, 90, 3, 0.788),
   rgba(209, 234, 43, 0.847));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.navigation{
  width: 250px;
  display: flex;
}
.navigation a{
  margin-right: 20px;
 color: white;
 text-decoration: none;
 text-transform: uppercase;
 transition: 0.7s;
}

.navigation a:hover{
  color: rgba(209, 254, 6, 0.92);
}

.background{
  position: relative;
  overflow: hidden;
  margin: 0;
}
.background img{
  width: 100%;
}
.shop-list{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(2,1fr);
  grid-gap: 60px;
  margin: 50px 50px;
  margin-top: -660px;
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 30px;
  border-radius: 28px;
  padding: 25px;
  border: 2px solid whitesmoke;
  background: linear-gradient(135deg, rgba(255,255,255,0.1)rgba(255,255,255,0.1));
  backdrop-filter: blur(21px);
  -webkit-backdrop-filter: blur(21px);
  box-shadow: 0 8px 32px rgba(245, 245, 245, 0.741);
  color: aliceblue;
}

.button{
  background-color: gold;
  border: 3px solid rgb(3, 3, 3);
  color: rgba(3, 3, 3);
  border-radius: 26px;
  height: 50px;
  width: 110px;
  cursor: pointer;
  transition: box-shadow 0.15s;
  padding: 6px;
  margin-bottom: -1000px;
  text-decoration: none;
  font-weight: 900;
}
.button:hover{
  box-shadow: 5px 5px 10px rgba(20, 16, 11, 0.749);
}

.button:active{
  opacity:0.6;
}

.container img{
  width: 200px;
  border-radius: 8px;
}
